@charset "UTF-8";
@import 'vars';
@import 'mixin';

/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Clearfix
 * 4.0 - margin, padding
 * 5.0 - FontSize
 */

/**
 * 1.0 - Reset
 */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,
nav,article,section,header,footer,address {
	margin:0;padding:0;
}

body {
  min-width: ($site_width+20);
	//font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	//font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	//font-family: "游明朝", "YuMincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	font-size: 16px;
	line-height: 1.7;
	color: #444;
}

h1,h2,h3,h4,h5,h6,a,p,small {
	font-size: 1em;
	font-weight: normal;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

a:link,
a:visited {
	color: $color_black;
	text-decoration: none;
}

a:hover {
	color: $color_black;
}

address {
	font-style: normal;
}

img {
	border: medium none;
	vertical-align: middle;
}

li {
	list-style: none;
}


/**
 * 2.0 - Clearfix
 */
 
.cf {
	@include clearfix;
}

.clear {
	clear: both;
}

/**
 * 4.0 - margin, padding
 */

// .mt-0px, .mt-10px, ……, .mt-100px
// .mb-0px, .mb-10px, ……, .mb-100px
// .pt-0px, .pt-10px, ……, .pt-100px
// .pb-0px, .pb-10px, ……, .pb-100px
$i: 100;
@while $i >= 0 {
  .mt-#{$i}px {
    margin-top: #{$i}px;
  }
  .mb-#{$i}px {
    margin-bottom: #{$i}px;
  }
  .pt-#{$i}px {
    padding-top: #{$i}px;
  }
  .pb-#{$i}px {
    padding-bottom: #{$i}px;
  }
  $i: $i - 10;
}

// .mt-1, .mt-2, ……, .mt-10
// .mb-1, .mb-2, ……, .mb-10
// .pt-1, .pt-2, ……, .pt-10
// .pb-1, .pb-2, ……, .pb-10
$i: 10;
@while $i > 0 {
  .mt-#{$i} {
    margin-top: #{$i}em;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}em;
  }
  .pt-#{$i} {
    padding-top: #{$i}em;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}em;
  }
  $i: $i - 1;
}

/**
 * 5.0 - FontSize
 */
body {
	.sp {
		display: none;
	}
	@media only screen and (max-width: 1030px) {
		font-size: 15px;
	}
	@media only screen and (max-width: 970px) {
		font-size: 14px;
	}
	@media only screen and (max-width: 900px) {
		font-size: 13px;
	}
	@media only screen and (max-width: 830px) {
		font-size: 12px;
	}
	@media only screen and (max-width:$bp_sp) {
		font-size: 14px;
		.pc {
			display: none;
		}
		.sp {
			display: inherit;
		}
	}
	@media only screen and (max-width: 640px) {
		font-size: 12px;
	}
	@media only screen and (max-width: 360px) {
		font-size: 11px;
	}
}