@charset "UTF-8";

@mixin margin_auto {
	margin: {
    right: auto;
	  left: auto;
  }
}
@mixin pc_center {
	width: $site_width;
	@include margin_auto;
  padding: {
    right: 10px;
    left: 10px;
  }
}
@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin rgba-background($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}
@mixin coverbg_def {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
@mixin effect {
	@include prefix(transition, all 0.3s ease);
}
$set-prefix: '' , -moz- , -webkit-;
@mixin prefix($name, $value) {
	@each $prefix in $set-prefix {
			#{$prefix}#{$name}: $value;
	}
}
@mixin box_shadow($value...) {
	-webkit-box-shadow: $value;
		 -moz-box-shadow: $value;
			-ms-box-shadow: $value;
					box-shadow: $value;
}
@mixin mp-delay ($min: 1, $max: 10, $delay: 10, $unit: 'px') {  //todo：min,maxの概念がわかりずらいからあるべき式に修正
  @for $i from $min through $max {
    .mt-#{$i * $delay}#{$unit} {
      margin-top: #{$i}#{$unit};
    }
    .mb-#{$i * $delay}#{$unit} {
      margin-bottom: #{$i}#{$unit};
    }
  }
}
@mixin hack-ie($IE-ver: null) {
    @if $IE-ver == 'ie8-ie11' {
        // IE8〜11
        @media screen\0 {
            @content;
        }
    }
    @else if $IE-ver == 'ie12-' {
        //EEdge全て
        @supports (-ms-ime-align: auto) {
            @content;
        }
    }
    //個別が必要の場合は追記すること
}
