@charset "UTF-8";

/* Site Width */
$bp_tb: 1024px;
$bp_sp: 768px;
$site_width: 1200px;
$site_wid: 1200;
$tb_wid: 1024;
$sp_wid: 640;
$max_width: 98%;

/* Site Colors */
$color_black: #111;