@charset "UTF-8";
@import 'vars';
@import 'mixin';
@import 'default';
body {
	&.login {
		background-color: #333;
		color: #333;

		#backtoblog,
		#nav {
			a {
				padding: (8em/16) 0;
				color: #fff;
				text-align: center;
				transition-duration: .2s;
				background-color: #333;
				border: #777 1px solid;
				border-radius: 2px;
				display: block;

				&:hover {
					background-color: #444;
					color: #fff;
				}
			}
		}
		#nav {
			a {
				&:nth-last-of-type(2) {
					background-color: #f00;

					&:hover {
						background-color: #f22;
					}
				}
			}
		}
	}
	#login {
		h1 {
			a {
				display: none;
				background-image: url(../images/common/icon.png);
			}
		}
		#backtoblog {
			a {
				display: none;
			}
		}
	}
}
