@charset "UTF-8";

@import 'vars';
@import 'mixin';
@import 'mixin_wpcont';
@import 'default';
@import 'transformicons';
@import 'wp-theme';

$type: sp tb pc;
@media only screen and (max-width:$bp_sp) {
	$type: sp;
	@import 'common';
	@import 'home';
}

@media only screen and (min-width:($bp_sp+1)) and (max-width:$bp_tb) {
	$type: tb;
	@import 'common';
	@import 'home';
}

@media print, screen and (min-width:($bp_tb+1)) {
	$type: pc;
	@import 'common';
	@import 'home';
}